@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    font-family: 'Roboto Mono', sans-serif;
    color: white;
    background-color: #4c4c4c !important;
}

a {
    color: white;
}
